config VIDEO_EXYNOS_CAMREA_POSTPROCESS_GDC
	bool "EXYNOS CAMERA POSTPROCESS GDC Driver"
	depends on VIDEO_EXYNOS_CAMREA_POSTPROCESS
	default y
	help
	  This is a representative exynos CAMERA-PP GDC device.
